* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Libre Franklin', sans-serif;

  display: grid;
  justify-content: center;
  align-items: center;
  /* takes full height of viewport so items can grow */
  /* at least 100vh, to avoid clipping */
  min-height: 100vh;

  /* so that content is not clipped */
  /* with viewport reduction on horizontal axis */
  min-width: 600px;
}

.main-container {
  /* shift everything down a bit */
  margin-top: 50px;

  display: grid;
  /* row is setting the grid height */
  grid-template-rows: 100px 100px 100px 400px 100px 100px;
  /* and column is setting the grid width */
  grid-template-columns: 600px;
}

/* TOP LOGO */

/* i alwyas forget xD */
/* logo is flex container, img is flex item  */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  height: 50px;
  width: 80px;

  object-fit: contain;
}

/* HEADING */

.heading-and-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.heading-and-subscribe .heading {
  font-size: 2rem;
}

.heading-and-subscribe .heading span:first-of-type {
  font-weight: 300;
  opacity: 0.4;
}

.heading-and-subscribe .heading span:last-of-type {
  font-weight: 700;
}

.heading-and-subscribe .subscribe {
  font-size: 0.9rem;
  font-weight: 300;
}

/* FORM, EMAIL INPUT BOX and BUTTON */

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type='email'] {
  height: 50px;
  width: 402px;
  border-radius: 45px;

  border: 2px solid hsl(223, 100%, 95%);
  outline: none;

  /* text indenting left and right */
  padding-left: 1rem;
  padding-right: 1rem;

  font-size: 0.8rem;
}

input::placeholder {
  color: hsl(223, 100%, 95%);
}

.input-container {
  position: relative;
}

.error-text {
  display: none;

  position: absolute;
  top: 54px; /* add some offset to input box height */
  left: 1rem; /* same as padding left value */

  opacity: 0.5;
  font-size: 0.55rem;
  font-style: italic;
  color: hsl(354, 100%, 66%);
}

button[type='submit'] {
  height: 50px;
  width: 188px;
  border-radius: 45px;

  border: 1px solid hsl(223, 87%, 63%);
  outline: none;

  background-color: hsl(223, 87%, 63%);
  color: white;

  font-family: inherit;
  font-weight: 500;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  /* without this, lower half of the button becomes unclickable */
  position: relative;
}

button[type='submit']:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* DASHBOARD */

.dashboard-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-image > img {
  height: 500px;
  width: 600px;

  object-fit: contain;
}

/* SOCIALS */
.socials {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 20px;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;

  border: 1px solid hsl(223, 100%, 95%);

  position: relative;
}

.circle .facebook,
.circle .twitter,
.circle .instagram {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* COPYRIGHT */
.copyright {
  text-align: center;
  font-size: 0.5rem;
  line-height: 100px;

  opacity: 0.3;
}

@media (max-width: 500px) {
  .main-container {
    grid-template-rows: 70px 150px 150px 400px 100px 100px;
    grid-template-columns: 375px;
  }

  .logo {
    align-items: end;
  }

  .logo > img {
    width: 60px;
  }

  form {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  input[type='email'] {
    width: 375px;
  }

  .error-text {
    display: none;
    position: static;
    text-align: center;
    margin-top: 6px;
  }

  button[type='submit'] {
    width: 375px;
  }

  .heading-and-subscribe {
    justify-content: center;
    gap: 15px;
  }

  .heading-and-subscribe .heading {
    font-size: 1.6rem;
  }

  .heading-and-subscribe .subscribe {
    font-size: 0.7rem;
  }

  .dashboard-image > img {
    /* automatically fits to container, maintains apsect ratio */
    height: auto;
    width: 100%;
    object-fit: contain;
  }

  .socials {
    gap: 10px;
  }
}
